.textField {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 2px;
    background-color: #272729;
    color: white;
    margin-bottom: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

.outer {
    width: 100%;
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0px;
    }

    label {
        color: gray;
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 8px;
        display: inline-block;
        text-transform: uppercase;
    }
}