@import "../../scss/colors.scss";

.loginPage {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    h1 {
        color: black;
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 18px;
    }

    .gradient {
        height: 100%;
        width: 50%;
        background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    .loginSection {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .inner {
            width: 450px;
    
            .text {
                margin-top: 40px;
    
                p {
                    font-size: 12px;
                    color: rgb(136, 136, 136);
                }
    
                a {
                    font-size: 12px;
                    color: rgb(6, 155, 255);
                    text-decoration: none;
                    line-height: 20px;
                }
            }
    
            .buttons {
                margin-top: 30px;
    
                .button {
                    width: 130px;
                    height: 40px;
                    margin-right: 20px;
                    color: white;
                    font-weight: 700;
                    border-radius: 3px;
                    border: none;
                    outline: none;
                    box-shadow: 0 0px 10px #e4e4e4;
                    transition: 0.3s;

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.03);
                    }
                }
    
                .login {
                    background: $gradient;
                }
    
                .signup {
                    background: none;
                    color: rgb(68, 68, 68);
                    border: 2px solid rgb(226, 226, 226);
                }
            }
    
            .bottom {
                padding-top: 10px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
        
                .rememberBox {
                    display: flex;
                    align-items: center;
    
                    input[type=checkbox] {
                        -moz-appearance:none;
                        -webkit-appearance:none;
                        -o-appearance:none;
                        outline: none;
                        content: none;	
                        margin-right: 10px;
                    }
                    
                    input[type=checkbox]:before {
                        font-family: "FontAwesome";
                        content: "";
                        font-size: 15px;
                        display: block;
                        
                        width: 15px;
                        height: 15px;
    
                        border: 2px solid black;
                        border-image: $gradient;
                        border-image-slice: 1;

                        text-align: center;
                        line-height: 17px;
                    }
                    
                    input[type=checkbox]:checked:before {
                        background: $gradient;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        content: "\2713";
                        font-weight: 600;
                    }
    
                    p {
                        color: rgb(68, 68, 68);
                        font-weight: 600;
                        font-size: 13px;
                    }
                }
    
                .forgotPassword {
                    color: rgb(68, 68, 68);
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 13px;
                }
            }
        }
    }
}