#feed {
    display: flex;
    flex-direction: column;
    width: 680px;
    border-radius: 4px;
    color: white;
    box-sizing: border-box;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}