$grayText: #818384;

#header {
    width: 100%;
    height: auto;
    color: white;

    .inner {
        &:first-child {
            height: 40px;
            background-color: #16181f;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            box-sizing: border-box;
        }
    
        &:last-child {
            background-color: #24252f;
            height: 60px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 15px;
            box-sizing: border-box;

            .buttons {
                button {
                    width: 95px;
                    height: 38px;
                    border: none;
                    border-radius: 3px;
                    font-weight: 700;
                    margin-left: 15px;
                }

                .button-primary--gold {
                    color: black;
                    background-color: #e9b10b;
                    -webkit-box-shadow: inset 0 -3px 0 0 #cc6c31;
                    box-shadow: inset 0 -3px 0 0 #cc6c31;
                    padding-bottom: 3px;
                }
            }
        }

        h1 {
            font-size: 1rem;
        }
    
        ul {
            display: flex;
            align-items: center;
    
            li {
                margin: 0px 10px 0px 10px;
                list-style: none;
                font-size: .6875rem;
                font-weight: 700;
                color: #969696;
                transition: color .2s;
    
                a {
                    color: #969696;
                    text-decoration: none;
    
                    &:hover {
                        color: #e9b10b;
                    }
                }
            }
        }
    }
}