$grayText: #818384;

#middle {
    max-width: 1000px;
    width: 100%;
    height: 100%;
    margin: 30px auto;
    position: relative;
    display: flex;
    flex-direction: column;

    .parent {
        display: flex;
        justify-content: space-between;
    }
}